<div class="container">
  <div class="box">
    <a routerLink="/system/cadastrar" class="btn btn-primary btn-link pull-right">
      <span>Novo Cadastro</span>
    </a>
    <table class="table-list table-striped table-fixed">
      <thead>
          <tr>
            <th>Nome</th> 
            <th>Tipo</th>
            <th>Histories</th>
            <th>Data de criação</th>
            <th></th>
            <!-- <td><a routerLink="/system/cadastrar">Novo</a></td> -->
          </tr>
      </thead>
     
      <tbody>
        <tr *ngFor="let dragon of dragons | 
             orderBy: 'name':false: 'case-insensitive' | 
             paginate: { itemsPerPage: 10, currentPage: page };">
            <td class="name">{{dragon?.name}}</td>
            <td class="type">{{dragon?.type}}</td>
            <td class="date">{{dragon?.histories}}</td>
            <td class="date">{{dragon?.created_at | date: 'dd/MM/yyyy'}}</td>
            <td class="actions">
              <!-- <a [routerLink]="'/system/details/'+dragon?.slug"><i class="ico-eyes"></i></a>   -->
              <a (click)="fetchDragon(dragon?.slug); $event.preventDefault();" href="#"><i class="ico-eyes"></i></a>
              
              <a [routerLink]="'/system/editar/'+dragon?.slug" href="#"><i class="ico-update"></i></a>  
              <a (click)="deleteDragon(dragon?.slug); $event.preventDefault();" href="#"><i class="ico-delete"></i></a>
            </td> 
        </tr>
      </tbody> 
    </table>
    <pagination-controls (pageChange)="page = $event"
                          previousLabel="Anterior"
                          nextLabel="Próxima">
    </pagination-controls>
  </div>
</div>

<app-details></app-details>