<div class="container">
    <div class="box">
      <h2 class="text-center">CADASTRAR DRAGÃO</h2>
      <form [formGroup]="form">
        <div class="form-group" [ngClass]="displayFieldCss('name')">
          <input class="form-control" type="text" formControlName="name" placeholder="Nome" required>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('type')">
            <input class="form-control" type="text" formControlName="type" placeholder="Tipo" required>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('histories')">
            <tag-input
              [identifyBy]="'value'"
              [displayBy]="'value'"
              [placeholder] = "'Adicione mais'"
              [secondaryPlaceholder] = "'Adicione uma história'"
              formControlName="histories"
              required>
            </tag-input>
        </div>


        <div class="form-group">
            <a routerLink="/system" href="/system" class="btn btn-black btn-link pull-left back" title="Voltar"><span>Voltar</span></a>

            <button *ngIf="page == 'new'" class="btn btn-primary pull-right" (click)="onSubmit()">Cadastrar</button>
            <button *ngIf="page != 'new'" class="btn btn-primary pull-right" (click)="onSubmit()">Atualizar</button>
        </div>
        <hr>
        {{ form.value | json  }}
      </form>

    </div>
  </div>

