<div class="container">
    <div class="box">
      <h1 *ngIf="new" class="title">CADASTRAR DRAGÃO</h1>
      <h1 *ngIf="!new" class="title">ATUALIZAR DRAGÃO</h1>

      <form class="form" [formGroup]="form">
        <div class="form-group" [ngClass]="displayFieldCss('name')">
          <input class="form-control" type="text" formControlName="name" placeholder="Nome" required>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('type')">
            <input class="form-control" type="text" formControlName="type" placeholder="Tipo" required>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('histories')">
            <tag-input
              [identifyBy]="'value'"
              [displayBy]="'value'"
              [placeholder] = "'Adicione mais'"
              [secondaryPlaceholder] = "'Adicione uma história'"
              formControlName="histories"
              required>
            </tag-input>
        </div>

        <div class="form-group">
            <button *ngIf="new" class="btn btn-primary pull-right" (click)="onSubmit()">Cadastrar</button>
            <button *ngIf="!new" class="btn btn-primary pull-right" (click)="onSubmit()">Atualizar</button>
        </div>

        <a routerLink="/system" href="/system" class="btn btn-black btn-link pull-right back" title="Voltar"><span>Voltar</span></a>
      </form>
    </div>
  </div>

