// Core variables and mixins
@import "./src/sass/base/variables";
@import "./src/sass/base/mixins";

:host ::ng-deep {
  .login-content {
    position: fixed;
    height: 100%;
    width: 100%;

    h1 {
      color: #fff;
      text-align: center;
    }

    p {
      color: #fff;
      margin-bottom: 20px;
      text-align: center;
    }

    &-wrap {
      @include absolute-center();
    }
  }
}
