



<div class="login-content">
  <div class="login-content-wrap">
      <h1>System Dragons</h1>
      <form>
        <div class="form-group">
          <input [(ngModel)]="email" type="text" class="form-control" id="inputEmail" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input [(ngModel)]="password" type="password" class="form-control" id="inputPassword" name="password"
                placeholder="senha">
        </div>
        <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block">Entrar</button>
      </form>
  </div>
</div>

