<ngx-smart-modal (onOpen)="open()" (onClose)="close()" (onDismiss)="close()" #detailsModal identifier="detailsModal">
  <div class="wrap">
    <table class="table-list table-striped table-fixed">
      <thead>
        <tr>
          <th colspan="2">Detalhes do Dragão: {{ detailsModal.getData()?.slug }}</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><b>Nome:</b></td>
            <td class="name">{{dragon?.name}}</td>
          </tr>
          <tr>
              <td><b>Tipo:</b></td>
              <td class="type">{{dragon?.type}}</td>
          </tr>
          <tr>
              <td><b>Histories:</b></td>
              <td class="date">{{dragon?.histories}}</td>
          </tr>
          <tr>
              <td><b>Data Criação:</b></td>
              <td class="date">{{dragon?.created_at | date: 'dd/MM/yyyy'}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</ngx-smart-modal>

