// Core variables and mixins
@import "./src/sass/base/variables";
@import "./src/sass/base/mixins";

:host ::ng-deep {

  .site-main {
    position: relative;
    z-index: 1;
  }

  .dragons-bg {
    background-image: url('/assets/img/bg-dragons.jpg');
    background-size: cover;
    justify-content: center;
    -webkit-justify-content: center;
    max-height: 768px;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;

    &::after  {
      display: block;
      content: "";
      background: linear-gradient(to right,rgba(0,0,0,.5) 20%,rgba(255,255,255,.1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#1affffff', GradientType=1 );
      height: 100%;
      left: 0;
      position: fixed;
      width: 100%;
      top: 0;
    }
  }
}