:host {
  display: block;
  bottom: 0;
  // color: #fff;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
}

:host-context(.page-login) {
  .copyright {
    color: #fff;
  }
}

:host ::ng-deep {
    .copyright {
      text-align: center;
      padding: 40px;
    }
}