:host {
  display: block;
  margin-top: 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}

:host ::ng-deep {
  .copyright {
    color: #fff;
    padding: 40px;
    text-align: center;
  }
}

:host-context(.page-form),
:host-context(.page-login) {
  .copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}