:host {
  display: block;
  // color: #fff;
  display: block;
  margin-top: 20px;
  width: 100%;
  z-index: 1;
}

:host-context(.page-login) {

  :host { 
    position: fixed;
    bottom: 0;
  }

  .copyright {
    color: #fff;
  }
}

:host ::ng-deep {
    .copyright {
      text-align: center;
      padding: 40px;
    }
}