@import "./sass/base/variables";
@import "./sass/base/mixins";

@import "./sass/utilities/extras";

@import "./sass/base/normalize";
@import "./sass/base/reset";
@import "./sass/base/page";

@import "./sass/ui-components/ui-grid";
@import "./sass/ui-components/ui-forms";
@import "./sass/ui-components/ui-buttons";
@import "./sass/ui-components/ui-table";

@import "~ngx-smart-modal/ngx-smart-modal";

.nsm-dialog  {
  max-width: 670px !important;
}

body.dialog-open {
  overflow: hidden;

  .nsm-dialog.nsm-dialog-open {
      top: 8%;
      bottom: auto;
      @media (max-width:768px){
          top: 50%;
          transform: translateY(-50%);
      }

  }
}



